
/* Custom, iPhone Retina  */

@media only screen and (min-width : 320px) {
	.filter-hide-xs
	{
		display: none;
	}
	.align-right-sm
	{
		text-align: left;
	}
	.employee-img-cont
	{
		display: none;
	}
	.employee-text-cont
	{
		width: calc(100% - 40px);
		float:left;
		padding:0px 5px;
	}
	.over-7th-md
	{
		width: 100%;
		float:left;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.filter-hide-xs
	{
		display: initial !important;
	}
	.employee-img-cont
	{
		width: 40px;
		display: initial;
		float:left;
	}
	.employee-text-cont
	{
		width: calc(100% - 80px);
		float:left;
		padding:0px 5px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.align-right-md
	{
		text-align: right;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.over-7th-md
	{
		width: 14.28%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}